$h-color: #A9A397;
$bg-color: #3B3427;
$brand-color: #FDC500;
$grey: #585858;
$light-grey: #E7E7E7;
$cream: #FCF6EB;
$elements: prize, header, aside-open, aside-open-img, st-pusher, modal-backdrop, st-menu, modal, modal-exit;

@import 'normalize';
@import 'html5boilerplate';
@import 'jquery.minicolors';
@import 'bootstrap_grid';
@import 'bootstrap_modal';
@import 'codrops_sidebar';
@import 'typography';


//BASE LAYOUT

img {
    max-width: 100%;
    height: auto;
}

.container {
  padding: 0;
}

body {
  background-color: $cream;
}


//NAVIGATION

nav {
    background-color: $bg-color;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    text-align: center;
    padding: 10px 0px;
}


//HOME

.tables img, .chairs img, .bookshelves img {
  margin: 20px 0px;
}


//ASIDE MODULE (ON DESIGN AND UPLOAD PAGES)

aside {
    background-color: $bg-color;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 360px;
    min-width: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

input[type=number] {
  width: 80px;
}

input[type=file] {
  font-family: clementepdairegular;
  color: $h-color !important;
}

input[type=submit], button.buy {
  background-color: $brand-color;
  border: 0px;
  color: $bg-color;
  text-transform: uppercase;
  font-family: clementepdairegular;
  font-size: 1.4rem;
  padding: 10px;
  margin: 40px 0;
}

button.buy {
  margin: 5px 0;
  float: right;
  background-color: $brand-color;
}

input[type=submit]:active {
  background-color: $grey;
  outline: none;
}

#submit-btn {
  background-color: $light-grey;
  text-transform: none;
}

label  {
  line-height: 3rem;
}

input, textarea {
  margin: 0.4rem 0;
}

textarea {
  width: 203px;
}

select {
  margin: 0.5rem 0;
}


//DESIGN PAGE

div canvas {
  float: left;
}

.design .main .row:first-of-type{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 45%, rgba(0,0,0,0.2) 65%, rgba(0,0,0,0) 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(0,0,0,0.01)), color-stop(65%,rgba(0,0,0,0.2)), color-stop(85%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 45%,rgba(0,0,0,0.2) 65%,rgba(0,0,0,0) 85%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.01) 45%,rgba(0,0,0,0.2) 65%,rgba(0,0,0,0) 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.01) 45%,rgba(0,0,0,0.2) 65%,rgba(0,0,0,0) 85%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 45%,rgba(0,0,0,0.2) 65%,rgba(0,0,0,0) 85%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.minicolors-theme-default .minicolors-input {
  height: 22px;
}

.minicolors-theme-default .minicolors-swatch {
  top: 6px;
}

.price {
  color: $brand-color;
  padding-left: 0px;
}

//UPLOADS PAGE

//main content
.product {
    padding: 20px;
}

.uploads img {
    max-height: 100%;
    cursor: pointer;
}

.uploads .upload-thumb {
  height: 160px;
  text-align: center;
  background-color: #fff;
}

img.prize {
    width: 30px;
    position: absolute;
    left: 30px;
    z-index: index($elements, prize);
}

.tacks {
  color: $brand-color;
  text-align: right;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #fff;
  margin-bottom: 80px;

  p {
    margin: 0;
  }

  img {
  width: 30px;
  }

  .comment-icon {
    float: left;
  }
}

//aside

.aside-open {
  position: absolute;
  z-index: index($elements, aside-open);
  top: 200px;
  left: 0;
  border-style: solid;
  border-width: 70px 0 70px 40px;
  border-color: transparent transparent transparent $bg-color;
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.aside-open img {
  position: absolute;
  z-index: index($elements, aside-open-img);
  left: -40px;
  top: -20px;
  width: 20px;
  max-width: 20px;
  height: auto;
}

.aside-open:focus {
  outline: none;
}

.uploadpg input[type=text] {
  width: 203px;
}

#uploadFormSubmit {
  position: relative;
  top: 110px;
}

#file-upload {
  visibility: hidden;
}

form[name="uploadForm"] {
  height: 400px;
}

input[value=Upload] {
  margin: 0;
}

.ng-invalid.ng-dirty {
  border: 1px solid red; /* RH still need to tidy this validation */
}

form.ng-invalid.ng-dirty {
  border: 0px;
}

//modal

.hidden {
  display: none;
}

.modal-content > div {
  padding: 20px;
}

.modal, .modal-dialog, .modal-content, .info {
  height: 100%; //RH need to revisit this
}

.modal-content {

  .info {
    background-color: $bg-color;
  }
  
  button {
    border: 0px;
    background-color: $brand-color;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: index($elements, modal-exit);
    height: 30px;
    width: 30px;
    font-size: 22px;
    color: $bg-color;
  }
  
  h4 {
    margin: 0px;
  }
  
  input[type=text] {
    width: 100%;
  }
  
  textarea {
    width: 100%;
  }

  input[type=submit] {
    margin: 20px 0;
  }

  img.prize {
    width: 40px;
  }

  .tacks {
    background-color: $bg-color;
    margin-bottom: 0px;
  }

}


//ABOUT PAGE

.feature {
  text-align: center;
}

.main .content {
  input[type=text], textarea {
    width: 100%;
  }
}


//FOOTER

footer {
    text-align: center;
    background-color: $bg-color;
    height: 50px;
    width: 100%; 
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 992px) { //BOOTSTRAP MEDIUM

  nav {
    height: 80px;
  }

  nav li {
    display: inline-block;
    width: 13%;
    padding: 0px;
    margin-top: -20px;
  }

  .logo a img {
    margin-top: 20px;
  }

  .logo {
    min-width: 355px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
  }

  .logo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 170px 0 170px;
    border-color: $bg-color transparent transparent transparent;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: index($elements, header);
  }
  
  .main {
    padding-top: 130px;
  }
  
  .about .main, .contact .main {
    padding-bottom: 50px;
  }
  
  .design .main, .uploadpg .main {
    padding-top: 80px;
  }

  .uploads {
    padding-top: 50px;
  }

  .modal-content .info {
    position: relative;
    left: 2px;
  }

  aside {
    margin-bottom: 0px;
  }

  .feature img {
    padding-right: 50px;
  }

  .main .content {
    padding-left: 50px;
  }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

